// src/styles/custom.scss (ou onde você preferir criar seu arquivo Sass)

// 1. Sobrescreva as variáveis padrão do Bootstrap aqui
// Antes de importar o Bootstrap!

$primary: #388E3C; 
$secondary: #6c757d; 
$success: #28a745; 
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;

$light: #f8f9fa;
$dark: #212529;
$white: #ffffff;
$body-bg: $light;
$body-color: $dark;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

//cores extras (roubadas do Bootstrap)
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$gray:    #6c757d !default;

// "carregar" as cores
@include color-create-utility($blue, "blue");


// 2. Importe o Bootstrap aqui
@import "../node_modules/bootstrap/scss/bootstrap";

// 3. Importe os Bootstrap Icons aqui
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// 4. Adicione seu CSS personalizado aqui
// Exemplo:
// body {
//   background-color: $primary;
//   color: $secondary;
// }